.app{
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.game {
  max-width: calc(var(--board-size) * 100px);
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  /* background-color: skyblue; */
  font-family: sans-serif;
}

.resetButton{
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid gray;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.resetButton:hover{
  background-color: #cecece;
}

.status {
  display: flex;
  font-size: 20px;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(var(--board-size), 1fr);
  justify-content: center;
}

.active{
  color: rgb(68, 232, 68);
  font-weight: bold;
}

.cell{
  width: 100px;
  height: 100px;
  font-size: 36px;
  border: 2px solid #cccccc;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.cell:hover {
  background-color:  #cecece;
}